---
layout: layouts/base.njk
templateEngineOverride: md, njk
---

{% from "partials/card.njk" import card %}

<main>
	<section>
		<h1>Hi, I'm Henry!</h1>
		<p>I'm an award-winning frontend developer in Philadelphia.</p>
		<p>
			I develop user-focused, empathy-driven websites and interactive
			experiences. Here is some of the work I've done on the web and elsewhere!
		</p>
	</section>
	<section>
		<h2>Work</h2>
		<ul class="card-grid">
			{%- for work in collections.web -%}
			<li>
				{{
					card({
						title: work.data.title,
						url: work.data.projectUrl
					})
				}}
			</li>
			{%- endfor -%}
		</ul>
	</section>
</main>
