@use "normalize.scss";
@use "variables.scss" as v;
@use "functions.scss";
@use "mixins.scss" as m;
@use "sass:math";

@property --t {
	syntax: "<integer>";
	initial-value: 0;
	inherits: true;
}

@keyframes tick {
	from {
		--t: 0;
	}
	to {
		--t: 86400000;
	}
}

:root {
	// animation: tick 86400000ms linear infinite;
	// animation: tick;
	// animation-duration: 86400000ms;
	// animation-iteration-count: infinite;

	/* 8 fps */
	// animation-timing-function: step(calc(86400000 / (1000 / 8)));

	/* 24 fps */
	// animation-timing-function: step(calc(86400000/(1000/24)));

	/* 60 fps */
	// animation-timing-function: step(calc(86400000/(1000/60)));
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:hover {
}

html,
body {
	height: 100%;
}

html {
	font-size: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	//line-height: 1;
	font-family: v.$f-base;
	@include m.font-size(v.$baseFontSize);
	color: black;
	position: relative;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	-moz-user-drag: -moz-none;
	-webkit-user-drag: none;
	user-drag: none;
}

a {
	text-decoration: none;
	color: blue;
	font-weight: 500;
	transition: color 400ms cubic-bezier(0.55, 0.085, 0, 0.99);
	&:hover {
		color: blue;
	}
	&:visited {
		color: blue;
	}
}

figure {
	position: relative;
	margin: 0 0;
}

p {
	@include m.font-size(22);
	line-height: 1.45;
}

h1 {
	@include m.font-size(48);
	line-height: 1.8em;
}

h2 {
	@include m.font-size(28);
	line-height: 1.8em;
}

h2 {
	@include m.font-size(26);
	line-height: 1.8em;
}

p + p {
	margin-top: 1rem;
}

section + section {
	margin-top: 2rem;
}

dl,
ol,
ul {
	margin-bottom: 1.8em;
}

ul,
ol {
	margin: 0 0;
	padding: 0 0;
	list-style: none;
}

li ul,
li ol {
	margin: 0;
}

main {
	display: block;
	max-width: 90%;
	margin: 0 auto;
	padding: 50px 0;
	@include m.bp(small) {
		width: 85%;
		max-width: 825px;
	}
}

.px-grid {
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(25, minmax(0, 1fr));
	display: none;
}

.px {
	aspect-ratio: 1 / 1;
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(1, minmax(auto, 1fr));
	gap: 1rem;
	@include m.bp(small) {
		grid-template-columns: repeat(2, minmax(auto, 1fr));
	}

	@include m.bp(medium) {
		grid-template-columns: repeat(3, minmax(auto, 1fr));
	}
}

.card {
	aspect-ratio: 6 / 3;
	border: 1px solid rgba(#000, 0.75);
	transition: all 0.4s v.$cubic-basic;
	transform: translate(0px, 0px);
	filter: drop-shadow(0px 0px 0px #000000);
	background-color: #fff;
	position: relative;

	a {
		transition: background-color 0.4s v.$cubic-basic;
	}

	.arrow {
		position: relative;
		display: inline-block;
		transform: translateX(0rem);
		transition: transform 0.4s v.$cubic-basic;
	}

	&:hover {
		filter: drop-shadow(-0.5rem 0.5rem 0px #000000);
		transform: translate(0.5rem, -0.5rem);
		a {
			background-color: rgba(cornflowerblue, 0.25);
		}

		.arrow {
			transform: translateX(0.5rem);
		}
	}

	a {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding: 1.5rem;
		color: currentColor;
		background-color: #fff;
		> * {
			color: currentColor;
		}
	}

	@include m.bp(small) {
		aspect-ratio: 1 / 1;
	}
}
