<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />
		<link rel="icon" href="/public/meta/favicon.ico" sizes="32x32" />
		<link rel="icon" href="/public/meta/icon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/public/meta/apple-touch-icon.png" />
		<title>Henry Steinberg | Portfolio</title>
		<link rel="stylesheet" href="/public/css/style.css" />
	</head>
	<body>
		<div class="px-grid">
			{% for px in range(0, 100) %}
			<div
				style="--i: {{ loop.index0 }};"
				class="px px-{{ loop.index0 }}"
			></div>
			{% endfor %}
		</div>
		{{ content | safe }}
	</body>
</html>
