---
layout: layouts/base.njk
---

<main>
	<h1>{{ title }}</h1>
	<article>
		{{ content | safe }}
    {% if projectUrl %}
		{%- set ctaText -%}
      {{ 'Website' if tags == 'web' else 'Case Study' }}
    {%- endset -%}
		<a href="{{ projectUrl }}">View {{ ctaText }} Here<span>→</span></a>
		{% endif %}
	</article>
</main>
